.input-search::placeholder{
    color: floralwhite;
    font-size: 16px;
    text-indent: 20px;
}

.option-button{
    background-color: floralwhite;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.input-search{
    color: floralwhite;
    border-color: floralwhite;
    background-color: transparent;
    border: floralwhite 1px solid;
    border-radius: 2px;
    height: 30px;
    width: 70%;
    text-indent: 20px;
}

